@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@500&family=Pixelify+Sans&display=swap');
body {
    background-color: lightseagreen;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: 'Orbitron', sans-serif;
}

#miDiv {
    width: 1000px;
    background-color: lightgray;
    overflow: hidden;
    transition: height 0.2s; /* Agregamos una transición suave para un efecto animado */
    border-radius: 20px;
}

#linksDiv {
    height: 0;
    overflow: hidden;
}
#miDiv:hover #linksDiv {
    height: 40px; /* Cambia la altura al pasar el cursor sobre el div */
    transition: 0.5s;
    padding: 30px;
}

a {    
    word-spacing: 200px;
    text-decoration: none;
    color: darkblue;
}
