@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron:wght@500&family=Pixelify+Sans&display=swap');
body {
    background: linear-gradient(lightblue, rgb(220, 182, 255)), lightblue;
    height: 100vh;
    color: rgb(0, 0, 0);
    margin: 50px;
    font-size: 25px;
    text-align: center;
}

header {
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
}
  