
body {
    background: url(../imagenes/folwall.jpg) fixed no-repeat;
    font-size: 30px;
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 50px;
    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

div {
    background: linear-gradient(rgb(196, 193, 255), rgb(83, 109, 255));
    border-radius: 10px;
    height: 100px;
    width: 600px;
}