
body {
    background: url(../imagenes/folwall.jpg) fixed no-repeat; 
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 450px;
}

h3 {
    margin-left: 450px;
}

p {
    
    margin-left: 500px;
    margin-right: 200px;
}

ol {
    margin-left: 450px;
}

