
body {
    background: url(../imagenes/redeswall.webp) ;
    color: white;
    margin: 50px;
    font-size: 30px;
    justify-content: center;
    display: grid;
}

a {
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    text-align: center;
    color: aquamarine;
}

div {
    margin: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
}

div:hover {
    transform: scale(150%);
    transition: 0.5s;
}