@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
body {
    background-color: rgb(255, 198, 198);
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}

hr {
    color: white;
}

header {
    background-color: #cf4848;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a {
    color: #ffffff;
}

img {
    color: rgb(255, 159, 255);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    text-align: center;
}