@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Playpen+Sans:wght@300&display=swap');
body {
    background-image: url(../images/sombilwall.jpg);
}

h1 {
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    color: white;
}

div {
    color: #000000;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.news-article {
    width: 95%;
    height: 100px;
    background-color: rgb(77, 210, 255);
    transition: all 0.3s ease;
  }
  
.news-article:hover {
    transform: scale(1.1); /* Cambia el tamaño al pasar el cursor */
}
  

.news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.news-article {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}