@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
body {
    background: linear-gradient(rgb(164, 164, 255), rgb(230, 161, 255));
    margin: 40px;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

header {
    text-align: center;
    background-color: rgb(87, 129, 255);
    color: aliceblue;
}

a {
    color: aliceblue;
}